<div class="container d-flex justify-align-center pb-2 pb-lg-4 pb-md-3">
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <!-- <div class=" row"> -->
    <div class="input-group">
      <input type="text" class="col-lg-6 offset-lg-2 col-7 offset-1" placeholder="Search a topic" [(ngModel)]="searchQuery" aria-label="Recipient's username"
        aria-describedby="basic-addon2" (keydown.Enter)="getNews($event)">
      <button type="button" class="col-lg-2 col-3 btn btn-sm btn-secondary" (click)="getNews($event)">Search</button>
    </div>
    <!-- </div> -->
  </nav>
</div>
<hr>

<main>
  <div class="container d-flex flex-wrap col-md-12 col-lg-12">
    <div class="p-2 col-md-6 col-lg-3" *ngFor="let newsItem of recentNews" (click)="openModalWithComponent($event, newsItem)">
      <div class="card">
        <img class="card-img-top" *ngIf="newsItem.multimedia.length > 1" src="https://static01.nyt.com/{{newsItem.multimedia[0]?.url}}"
          alt="{{newsItem.multimedia[0]?.url}}">
        <img class="card-img-top" *ngIf="!(newsItem.multimedia.length > 1)" src="assets/images/nytimes-logo.jpg" alt="{{newsItem.multimedia[0]?.url}}">
        <div class="card-body">
          <h5 class="card-title">{{newsItem.headline.main}}</h5>
          <p class="m-2 snippet card-text">{{newsItem.snippet}}</p>
          <p class="muted d-flex justify-content-end card-text">
            <small class="text-muted">{{newsItem.source}}, {{newsItem.pub_date |date}}</small>
          </p>
        </div>
        <div class="read-more">
          <button type="button" class="btn btn-secondary btn-block" (click)="openModalWithComponent($event, newsItem)">read more</button>
        </div>
      </div>
    </div>
  </div>
</main>

<hr>

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark pt-2 pt-lg-3">
    <pagination class="container d-flex justify-content-center" [totalItems]="totalItems" [(ngModel)]="currentPage" [maxSize]="maxSize"
      [itemsPerPage]="itemsPerPage" [boundaryLinks]="showBoundaryLinks" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
      lastText="&raquo;" (pageChanged)="pageChanged($event)">
    </pagination>
  </nav>
</footer>